<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Home'Toque-Le traiteur c'est vous{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Animate CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
    {% endblock %}
</head>
<body>


{% block header %}
    <header class="masthead2">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav2">
            <div class="container-fluid" id="border">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('app_index_index') }}"> <img src="img/logoToque.png" alt=""> Home'Toque </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('app_nav_traiteur_index') }}">Traiteur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Recettes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Panier</a>
                        </li>
                        <li class="nav-item">
                            <div id="navbar" class="navbar-collapse">
                                <div class="hidden-xs navbar-form navbar-right">
                                    <a onclick="documentTrack('#search');" href="#search" class="search-form-tigger btn btn-secondary"  data-toggle="search-form"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                                <div class="hidden-xs navbar-form navbar-right">
                                    <inputtype="text" hidden name="search" class="search form-control" placeholder="Rechercher">
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
            </li>
            </ul>
            </div>
            <div class="search-form-wrapper">
                <form class="search-form" id="" action="">
                    <div class="container">
                        <div class="input-group">
                            <input type="text" name="search" class="search form-control" placeholder="Rechercher">
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block body %}
{% endblock %}


{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!---Scroll Reveal JS-->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>



    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/style.js') }}"></script>

{% endblock %}
</body>
</html>
